<template>
  <div class="profile_container">
    <template>
      <v-dialog v-model="profile.avatarDialog.isOpen" width="420px">
        <v-card>
          <v-card-title>
            <header class="m-0">Photo de profile</header>
            <v-spacer></v-spacer>
            <v-btn v-on:click="$bus.$emit('image/upload')" small outlined text color="#111D5E">Importer une image</v-btn>
          </v-card-title>
          <v-card-text class="d-flex justify-content-center p-1">
            <Cropper/>
          </v-card-text>
          <v-card-actions>
            <v-btn v-on:click="profile.avatarDialog.isOpen = false" small outlined text color="#CE1212">Fermer</v-btn>
            <v-spacer></v-spacer>
            <v-btn v-on:click="$bus.$emit('image/save')" small outlined text color="#038418">Enregistrer</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
      <template>

          <v-dialog v-model="profile.profDialog.isOpen" width="500">

              <template>
                  <v-card>
                      <v-card-title>
                          <header class="m-0">Modification</header>
                      </v-card-title>
                      <v-card-text>
                          <v-row dense>
                              <v-col cols="12">
                                  <el-input v-model="$store.state.user.data.email" placeholder="Email"></el-input>
                              </v-col>
                              <v-col cols="12" md="6" sm="6">
                                  <el-input v-model="$store.state.user.data.first_name" placeholder="Prénom"></el-input>
                              </v-col>
                              <v-col cols="12" md="6" sm="6">
                                  <el-input v-model="$store.state.user.data.last_name" placeholder="Nom de famille"></el-input>
                              </v-col>
                              <v-col cols="12" md="6" sm="6">
                                  <el-input value="+216 42390572" placeholder="Numéro de téléphone"></el-input>
                              </v-col>

                              <!-- <v-col cols="12">
                                <v-select
                                  v-model="contact.addDialog.formData.status.label"
                                  :items="['NRP','entreprise fermé','Pas intérésser','Test pas terminer','A rappeler','Doublon']"
                                  placeholder="Status"
                                  height="20px"
                                  dense
                                  outlined
                                  color="#111D5E"
                                  :hide-details="true">
                                </v-select>
                              </v-col> -->
                          </v-row>
                      </v-card-text>
                      <v-card-actions>
                          <v-btn color="#CE1212" small outlined text v-on:click="profile.profDialog.isOpen=false" >Fermer</v-btn>
                          <v-spacer></v-spacer>
                          <v-btn color="#038418" small outlined text :loading="profile.profDialog.isAdding" :disabled="profile.profDialog.isAdding" v-on:click="addContactData">Modifier</v-btn>
                      </v-card-actions>
                  </v-card>
              </template>
          </v-dialog>
      </template>

    <div class="profile_wrapper">
      <v-row dense>
        <v-col cols="12" md="5">
          <v-card class="p-2">
            <v-card-title class="p-0 justify-content-center">
              <v-avatar class="avatar_holder" size="100">
                <v-img src="/public/img/logo.png"></v-img>
                <button v-on:click="profile.avatarDialog.isOpen=true" class="avatar_change"><v-icon class="change_logo">mdi-camera</v-icon></button>
              </v-avatar>
            </v-card-title>
            <v-card-text class="p-0">
              <h3 style="font-weight:800; font-size:17px" class="mt-3 text-center text-uppercase">{{$store.state.user.data.first_name+" "+$store.state.user.data.last_name}} </h3>
              <p style="font-weight:500" class="text-center mb-3">{{$store.state.user.level}}</p>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="#111D5E" small dark>Ajouter</v-btn>
              <v-btn color="#111D5E" small outlined>Message</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="7">
          <v-card>
            <v-card-text>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Nom complet</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">{{$store.state.user.data.first_name+" "+$store.state.user.data.last_name}}</p></v-col>
              </v-row>
              <v-divider class="my-1"></v-divider>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Email</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">{{$store.state.user.data.email}}</p></v-col>
              </v-row>
              <v-divider class="my-1"></v-divider>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Numéro de téléphone</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">+216 42390572</p></v-col>
              </v-row>
              <v-divider class="my-1"></v-divider>
              <v-divider class="my-1"></v-divider>
              <v-row dense>
                <v-col  cols="6" md="6"><h6 class="m-0">Status du compte</h6></v-col>
                <v-col v-if="$store.state.user.data.authorized === 1" cols="6" md="6">Verifié<p class="m-0"></p></v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-btn v-on:click="profile.profDialog.isOpen=true" color="green" outlined small style="text-transform:none">
                Modifier
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import Cropper from "../components/Cropper";
export default {
  components:{
    Cropper,
  },

  data(){
    return {
      profile:{
        avatarDialog:{
          isOpen:false,
          isChanging:false,
        },
          profDialog:{
              isOpen:false,
              isChanging:false,
          }
      }

    }

  }
}
</script>

<style>

</style>
